<table class = "table" >
  <thead>
    <tr>
      <th>投稿主</th>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to post.customer.name, customer_path(post.customer.id) %></td>
      <td><%= link_to post.title, post_path(post.id) %></td>
    </tr>
  </tbody>
</table>
