<div class="container">
  <div class="row" style="margin-top: 60px">
    <div class="mx-auto mt-10">
      <h1>~ Fagamaへようこそ！ ~</h1>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-6 mb-4">
      <%= image_tag "publicdomainq-0008623quvemp.jpeg",size: '600x300' %>
    </div>
    <div class="col-6 mt-5">
      <span>
        <h3><b>当サイトはゲームを通じて</br>
        気軽な交流や新たなゲームを発見できる</br>
        ゲームコミュニティサイトです！</br>
        皆様のご登録お待ちしております！</h3>
      </span>
      <div class="mt-5">
        <span class="sign_up col-3">
          <%= link_to new_customer_registration_path do %>
          <button type="button" class="btn btn-success">新規登録</button>
          <% end %>
        </span>
        <span class="sign_in col-3">
          <%= link_to new_customer_session_path do %>
          <button type="button" class="btn btn-warning">ログイン</button>
          <% end %>
        </span>
        <span class="gest_sign_in col-3">
          <%= link_to customers_guest_sign_in_path, method: :post do %>
          <button type="button" class="btn btn-primary mr-4">ゲストログイン</button>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
