<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Fagamaについて</h4>
        <div class="hline-w"></div>
          <p>
            好きなゲームに関する投稿や</br>
            気になるユーザーをフォローしたり</br>
            ゲームを通じて様々な交流ができる！</br>
            新たなゲームとの出会いが見つかるかも？
          </p>
      </div>
      <div class="col-lg-4">
        <h4>アカウント</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://github.com/shun19970310"><%= image_tag('GitHub-Mark-32px.png', size: "32x32") %></a>
            <a href="https://twitter.com/DWC58927774"><%= image_tag('icon_twitter.png', size: "32x32") %></a>
          </p>

      </div>
      <div class="col-lg-4 mt-5">
        <div class="text-center">
          <p>
            © All rights reserved by Fagama
          </p>
        </div>
      </div>
    </div>
  </div>
</div>